[Unit]
Description=Frc code to run at startup
After=multi-user.target

[Service]
Restart=always
RestartSec=1
ExecStart=sudo /usr/bin/python3 /home/pi/Desktop/rapidreact/src/main/python/main.py

[Install]
WantedBy=multi-user.target